a{
    text-decoration: none;
    color: #333;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
.dropdown-menu{
    width: 30rem;
    background-color: #eee;
    padding: .5rem;
    z-index: 1;
    box-shadow: .3rem .3rem .5rem rgba(0,0,0,.3);
    /* display: none; */
}
.dropdown-menu .sub-menu{
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: .5rem;
    border-bottom:  1px solid #ccc;
    color: #333;
}
.dropdown-menu .sub-menu::selection{
    background-color: violet;
}
.nav-menu:focus + .dropdown-menu{
    display: block;
}
.dropdown-menu a{
    display: block;
    transform: .3s;
}
.dropdown-menu a:hover{
    background-color: #ccc;
}
.dropdown-menu a i{
    margin-right: 1rem;
}
.dropdown-menu:active{
    display: block;
}
.dropdown-menu .horizon{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.dropdown-menu .horizon > ul{
    padding: .5rem;
}