:root{
    --primary-color: violet;
}
html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
h4{
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
nav{
    border-bottom: dotted 1px #777;
    padding: 10px 20px;
}

nav a:hover{
    color: var(--primary-color);
}

nav > ul{
    display: flex;
    list-style: none;
    gap: 1rem;
}

nav > ul > li{
    position: relative;
    height: 25px;
}
nav > ul > li:hover::before{
    width: 100%;
}
nav > ul > li::before{
    position: absolute;
    bottom: -1px;
    content: '';
    width: 0;
    height: 4px;
    border-radius: 10px;
    background-color: var(--primary-color);
    transition: .3s;
}

/* 호버스타일2 */
nav .icons{
    font-size: 1.5rem;
}
nav .icons i{
    margin-right: .5rem;
    transition: .3s;
}
nav .icons i:hover{
    color: var(--primary-color);
    transform: scale(1.2);
}