body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    width: 100vw;
    height: 100vh;
    /* 배경 어둡게 만들기 linear-gradient 사용 */
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/study01/imgs/background-pizza.jpg) top;
    background-size: cover;
}

section{
    width: 100%;
    text-align: center;
}

.text-box{
    width: 40%;
    margin: auto;
}

h1, h2, p, a{
    color: azure;
}
h1{
    font-size: 3rem;
    margin: 0;
    padding: 3rem 0 1.5rem;
}

h2{
    font-size: 1.2rem;
    margin: 0;
    padding-bottom: 3rem;
}

.button-box p{
    border: solid 1px azure;
    border-radius: 2rem;
    display: inline-block;
    width: 12%;
    min-width: 150px;
    padding: 1rem 2rem;
    letter-spacing: 2px;
    margin: 0 1rem;
    cursor: pointer;
}

.button-box p:nth-child(1){
    background-color: azure;
}
.button-box p:nth-child(1) a{
    color: #333;
}
.button-box p a{
    text-decoration: none;
    font-weight: bold;
}

.button-box p:hover {
    background-color: #e73d0c;
    border: solid 1px #e73d0c;
}
.button-box p:hover a{
    color: azure;
}

.button-box + p{
    padding: 1.5rem 0;
}

.img-box{
    width: 100%;
    text-align: center;
}

.img-box figure{
    width: 250px;
    height: 250px;
    background-color: tomato;
    display: inline-block;
    box-sizing: border-box;
    padding: 5%;
}

.img-box figure img{
    width: 80px;
    height: 80px;
}

.img-box figure figcaption{
    font-size: 1.5rem;
    color: azure;
    letter-spacing: .2rem;
}